<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="EmployeeDb"
			 connectionString="Data Source=109.196.99.97,1433;Initial Catalog=EmployeeManagerDb;User ID=SA;Password=Icservice!2025;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>